http:
  routers:

    api:
      entryPoints: [web]
      rule: "Host(`localhost`) && PathPrefix(`/auction-api`)"
      service: api-service
      priority: 100
      middlewares: [cors, api-strip]

    frontend:
      entryPoints: [ websecure ]
      rule: "Host(`localhost`)"
      service: frontend
      priority: 10

    payment-webhook:
      entryPoints: [web]
      rule: "Host(`localhost`) && Path(`/payment/public/stripe/webhook`)"
      service: payment
      priority: 200  # Высокий приоритет для webhook
      middlewares: [payment-strip, cors]

    payment-public:
      entryPoints: [web]
      rule: "Host(`localhost`) && (Path(`/payment/docs`) || PathPrefix(`/payment/docs/`) || Path(`/payment/openapi.json`))"
      service: payment
      priority: 190
      middlewares: [payment-strip, cors]

    payment-protected:
      entryPoints: [web]
      rule: "Host(`localhost`) && PathPrefix(`/payment/private`)"
      service: payment
      priority: 50
      middlewares: [auth-forward, payment-strip, cors]

    calculator:
      entryPoints: [web]
      rule: "Host(`localhost`) && PathPrefix(`/calculator`)"
      service: calculator
      priority: 45
      middlewares: [calculator-strip, cors]

    calculator-protected:
      entryPoints: [web]
      rule: "Host(`localhost`) && PathPrefix(`/calculator/private`)"
      service: calculator
      priority: 195
      middlewares: [auth-forward, calculator-strip, cors]

    # Other services
    grafana:
      entryPoints: [web]
      rule: "Host(`localhost`) && PathPrefix(`/grafana`)"
      service: grafana
      priority: 100

    notification:
      entryPoints: [web]
      rule: "Host(`localhost`) && PathPrefix(`/notification`)"
      service: notification
      priority: 90
      middlewares: [notification-strip, cors]

    auth:
      entryPoints: [web]
      rule: "Host(`localhost`) && PathPrefix(`/auth`)"
      service: auth
      priority: 80
      middlewares: [auth-strip, cors]


  services:

    api-service:
      loadBalancer:
        servers:
          - url: "http://api_service:8000"

    auth:
      loadBalancer:
        servers:
          - url: "http://auth_service:8003"

    calculator:
        loadBalancer:
          servers:
            - url: "http://calculator_service:8005"

    payment:
      loadBalancer:
        servers:
          - url: "http://payment_service:8002"

    notification:
      loadBalancer:
        servers:
          - url: "http://notification_service:8004"

    grafana:
      loadBalancer:
        servers:
          - url: "http://grafana:3000"

  middlewares:
    # Strip prefix middlewares

    api-strip:
      stripPrefix:
        prefixes: [ "/auction-api" ]

    calculator-strip:
      stripPrefix:
        prefixes: [ "/calculator" ]

    auth-strip:
      stripPrefix:
        prefixes: [ "/auth" ]


    payment-strip:
      stripPrefix:
        prefixes: ["/payment"]

    notification-strip:
      stripPrefix:
        prefixes: ["/notification"]

    rabbitmq-strip:
      stripPrefix:
        prefixes: ["/rabbitmq"]

    cors:
      headers:
        accessControlAllowMethods: [ GET, POST, PUT, DELETE, OPTIONS ]
        accessControlAllowOriginList:
          - "http://localhost:5173"     # Vite/React dev
          - "http://localhost:3000"     # Next dev, если нужно
        accessControlAllowHeaders:
          - "Content-Type"
          - "Authorization"
          - "X-Requested-With"
        accessControlExposeHeaders:
          - "X-Total-Count"
        accessControlAllowCredentials: true
        accessControlMaxAge: 86400

    # Auth forward middleware

    auth-forward:
      forwardAuth:
        address: "http://auth_service:8003/v1/verify"
        trustForwardHeader: true

        # 1) В auth-сервис пойдут ВСЕ заголовки, включая Cookie (можно вообще убрать блок ниже).
        # Если хотите задать явно, оставьте 'Cookie' и то, что реально нужно:
        authRequestHeaders:
          - Cookie
          - Authorization
          - X-Forwarded-Method
          - X-Forwarded-Host
          - X-Forwarded-Uri

        # 2) Хедеры из ответа auth-сервиса, которые нужно добавить в запрос к бэкенду:
        authResponseHeaders:
          - X-User-ID
          - X-User-Email
          - X-User-Role
          - X-Token-Expires
          - X-Permissions
